@page "/"

@inject BlazorArtisan.Services.LoggerService logs

@logs.LogItems.Count()

<AlertList Items="logs.LogItems" Context="log"
           OnDelete="@((LogItem e) => DeleteItem(e))" CssMap="CssMap">
    <ItemTemplate>
        <div>
            <h2>Id: @log.Id</h2>
            <p>@log.Message</p>
        </div>
    </ItemTemplate>
</AlertList>

@code {

    void DeleteItem(LogItem item)
    {
        logs.LogItems.Remove((LogItem)item);
    }

    string CssMap(LogItem item) =>
      item.Level switch
      {
          LogLevel.Warning => "alert-warning",
          LogLevel.Critical => "alert-danger",
          LogLevel.Error => "alert-danger",
          _ => "alert-info"
      };

}