.alert {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #2c3e50;
}

.alert.alert-danger {
    background-color: #e67e22;
    color: white;
}
    .alert.alert-info {
        background-color: #3498db;
        color: white;
    }
    .alert.alert-error {
        background-color: #c0392b;
        color: white;
    }