<!--
   BlazorComponentUtilities requires the following package
   https://www.nuget.org/packages/BlazorComponentUtilities/
-->
@using BlazorComponentUtilities
<div @attributes="AdditionalAttributes" class="@CssClass" disabled="@Disabled">
    @ChildContent
</div>

@code { [Parameter] public bool Disabled { get; set; }

            [Parameter] public RenderFragment ChildContent { get; set; }

            [Parameter(CaptureUnmatchedValues = true)]
            public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>() { { "class", "alert-danger" } };

            CssBuilder CssClass => new CssBuilder("alert")
                .AddClass("alert-dark", when: Disabled)
                .AddClassFromAttributes(AdditionalAttributes); 
    }