<div @attributes="AdditionalAttributes" class="alert @CssClass">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>() { { "class", "alert-danger" } };

    string CssClass => AdditionalAttributes.TryGetValue("class", out var value) ? value.ToString() : string.Empty;

}