<div class="alert @CssClass @DisabledClass" disabled="@Disabled">
    @ChildContent
</div>

@code {

    [Parameter] public bool Disabled { get; set; }

    string DisabledClass => Disabled ? "alert-dark" : "";

    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter] public string CssClass { get; set; } = "alert-danger";
}